.hover-zoom {
  transition: transform 0.2s ease-in-out;
}

.hover-zoom:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.filters {
  top: 125px;
}

.back-btn {
  bottom: 30px;
  right: 30px;
  z-index: 1050;
}
